header {
  padding-top: 54px;
  color: rgba(255, 255, 255);
  background-image: url("../../../public/img/bg-dark-1.png"),
    url("../../../public/img/bg-primary-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

header > :nth-child(1) {
  justify-content: space-between;
  align-items: center;
  height: 66px;
}

/* LOGO */
header > :nth-child(1) .logo {
  align-items: center;
  column-gap: 15px;
}

/* NAV */
header > :nth-child(1) nav {
  column-gap: 50px;
}

header > :nth-child(1) nav a {
  font-family: "DM Sans", sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

header > :nth-child(1) nav a:hover {
  font-weight: 700;
  color: rgb(255, 255, 255);
}

/* Mendaftar Login */
header > :nth-child(1) > :last-child {
  font-family: "DM Sans", sans-serif;
}

header > :nth-child(1) > :last-child > :last-child {
  margin-left: 30px;
  padding: 10px 25px;
  font-size: 1.125rem;
  color: var(--dark-color);
  background-color: rgb(255, 255, 255);
}

header > :nth-child(2) {
  position: relative;
  width: 775px;
  margin-left: auto;
  margin-right: auto;
}

header > :nth-child(2) > :nth-child(1) {
  margin-top: 125px;
  margin-bottom: 20px;
  color: var(--first-color);
}

header > :nth-child(2) > :nth-child(3) {
  max-width: 573px;
  margin: 30px auto 60px auto;
  font-size: 1.125rem;
  line-height: 34px;
}

header > :nth-child(2) > :nth-child(4) {
  margin-right: 55px;
  padding: 25px 40px;
  background-color: var(--first-color);
}

header > :nth-child(2) > :nth-child(5) {
  display: inline-flex;
  column-gap: 15px;
}

header > :nth-child(2) .yt {
  top: 76.19px;
  left: -84.81px;
  transform: rotate(25.62deg);
}

header > :nth-child(2) .luz-1 {
  top: 210.31px;
  left: -125.5px;
  transform: rotate(22.15deg);
}

header > :nth-child(2) .ig {
  top: 325px;
  left: -54.5px;
}

header > :nth-child(2) .luz-2 {
  top: 0px;
  right: -107px;
}

header > :nth-child(2) .fb {
  top: 140.68px;
  right: -102px;
  transform: rotate(15deg);
}

header > :nth-child(2) .tik-tok {
  top: 305px;
  right: -51px;
}

header > img {
  display: block;
  margin: 132px auto 80px auto;
}
