footer {
  background-color: rgb(255, 255, 255);
  padding-bottom: 65px;
}

footer > div {
  column-gap: 190px;
}

footer a {
  color: var(--dark-color);
}

footer section div {
  flex-direction: column;
  row-gap: 8px;
  margin-top: 20px;
}
footer > p {
  margin-top: 108px;
  color: rgba(13, 14, 37, 0.6);
  font-size: 14px;
}
